<!DOCTYPE html>  
<html xmlns="http://www.w3.org/1999/xhtml">  
<head>  
    <title></title>  
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>  
</head>  
<body>  
    <h1>SHOPPING LIST</h1>
    <div ng-app="mainApp" data-ng-controller="CRUDController">  
        <table>  
            <tr> 
                <td>ListId: </td>
                <td>  
                    <span>{{ ListModel.Id }}</span></td>  
            </tr>  
            <tr>  
                <td>Name:</td>  
                <td>  
                    <input type="text" data-ng-model="ListModel.Name" /></td>  
            </tr>  
            <tr>  
                <td>Amount:</td>  
                <td>  
                    <input type="number" data-ng-model="ListModel.Amount" /></td>  
            </tr>  
            <tr>  
                <td>  
                    <input type="button" value="Save Data" data-ng-click="AddData()" /></td>  
                <td>  
                    <input type="button" value="Update Data" data-ng-click="UpdateData()" /></td>  
            </tr>  
        </table>  

        <table border="1" style="width: 300px">  
            <thead>  
                <th>Id</th>  
                <th>Name</th>  
                <th>Amount</th>  
            </thead>  
            <tr data-ng-repeat="List in ShopList" data-ng-click="BindSelectedData(List)">  
                <td>{{ List.Id }}</td>  
                <td>{{ List.Name }}</td>  
                <td>{{ List.Amount }}</td>  
                <td>  
                    <input type="button" value="Delete" data-ng-click="DeleteData(List)" /></td>  
            </tr>  
        </table>  
    </div>  

    <script type="text/javascript">  
        var app = angular.module("mainApp", []);  
        app.controller('CRUDController', function ($scope) {  
            $scope.ListModel = {  
                Id: 0,  
                Amount: 0,  
                Name: '',  
            };  
            $scope.ShopList = [];  
            $scope.AddData = function () {  
                var _list = {  
                    Id: $scope.ShopList.length + 1,  
                    Name: $scope.ListModel.Name,  
                    Amount: $scope.ListModel.Amount 
                }; 
                $scope.ShopList.push(_list);  
                ClearModel();  
            }  
            $scope.DeleteData = function (list) {  
                var _index = $scope.ShopList.indexOf(list);  
                $scope.ShopList.splice(_index, 1);  
            }  
            $scope.BindSelectedData = function (list) {  
                $scope.ListModel.Id = list.Id;  
                $scope.ListModel.Name = list.Name;  
                $scope.ListModel.Amount = list.Amount;  
            } 
            $scope.UpdateData = function () {  
                $.grep($scope.ShopList, function (e) {  
                    if (e.Id == $scope.ListModel.Id) {  
                        e.Name = $scope.ListModel.Name;  
                        e.Amount = $scope.ListModel.Amount;  
                    }  
                }); 
                ClearModel();  
            }  
  
            function ClearModel() {  
                $scope.ListModel.Id = 0;  
                $scope.ListModel.Name = '';  
                $scope.ListModel.Amount = 0;  
            }  
        });  
    </script>  
</body>  
</html>  